@import url("../../components/designerCommon/css/common.css");

.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}

.template-output-control {
	text-overflow: ellipsis;
	width: 360px;
	overflow: hidden;
}