.x-cell-layout {
	width: 99%;
	height: 99%;
	overflow: auto;
	position: relative;
	padding: 0;
	margin: 0;
	word-break: keep-all;
}

.cell {
	border-bottom: 1px solid #CFCFCF;
	border-right: 1px solid #CFCFCF;
/* 	font-size: 12px; */
/* 	overflow: hidden; */
}

.nocellborder .cell {
	border-bottom: none;
	border-right: none;
}

.cell .xui-autofill {
	border: 1px;
	width: 100%;
	height: 100%;
}

.nohead .first-row {
	font-size: 0;
	border-right: 1px solid white;
}

.nohead .first-col {
	width: 3px;
	font-size: 0;
	border-bottom: 1px solid white;
}

.nohead .first-cell {
	height: 3px;
	text-align: center;
}

.hashead .first-row {
	width: 80px;
	border-top: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;
	border-right: 1px solid #CFCFCF;
	background: #EFEBDE;
	text-align: center;
}

.hashead .first-col {
	width: 20px;
	height: 18px;
	border-bottom: 1px solid #CFCFCF;
	border-top: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;
	background: #EFEBDE;
	text-align: center;
}

.hashead .first-cell {
	height: 20px;
}

.col-resize-line {
	z-index: 2000;
	border-left: 1px dotted blue;
	border-right: 1px dotted blue;
	position: absolute;
}

.row-resize-line {
	z-index: 2000;
	border-top: 1px dotted blue;
	border-bottom: 1px dotted blue;
	position: absolute;
}

.select-box {
	position: absolute;
	line-height: 5px;
	height: 5px;
	width: 5px;
	overflow: hidden;
	border: 0px solid black;
	background-color: green;
	font-size: 0;
}

.x-cell-layout td {
	vertical-align:middle;
}

.x-cell-layout td *{
/* 	padding:0;width:100%;height:100%;  */
}